* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


body {
    margin: 0;
}

ul>li {
    list-style-type: none;
    padding-left: 30px;
}

a {
    text-decoration: none;
    color: inherit;
}

.background {
    background-image: url(./image/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-left {
    margin-top: 40px;
    margin-left: 40px;
}

.header-right {
    display: flex;
    margin-top: 20px;
    margin-right: 50px;
}

.header-right>ul {
    display: flex;
    padding-left: -90px;
    margin-top: 20px;
}

.header-right>ul>li {
    color: #000;

}

.header-right>ul>li:hover {
    background-color: black;
    color: #fff;
    padding: 15px;
    border-radius: 20px;
}

.header-right>img {
    height: 50px;
    margin-left: 20px;
    margin-top: 4px;
}

.header-title>h1 {
    position: absolute;
    font-weight: 600;
    font-size: 50px;
    line-height: 105px;
    top: 300px;
    margin-left: 240px;
}

.big {
    display: flex;
    height: 540px;
}

.big-left {
    background-image: url(./image/big-first.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

.big-left>.big-left-title {
    margin-top: 34px;
    margin-left: 50px;
    width: 250px;
    color: #fff;
}

.big-right {
    background-image: url(./image/big-second.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.big-right>.big-right-title {
    margin-top: 34px;
    margin-right: 50px;
    width: 250px;
    color: #fff;
}

.product-title>h2 {
    font-family: Poppins;
    font-size: 23px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0em;
    color: black;
}
.product-head-title{
    margin-left: 50px;
}

.product-head-title>h2{
    margin-top: 20px;
    margin-bottom: 20px
}

.product-items{
    display: flex;
    height: 486px;
}

.product-item>img{
    height: 400px;
    width: 378px;
}
.product-item{
    background-color: rgb(255, 255, 255);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.product-item:hover{
    background-color:#333399;
}
.product-item>.product-title{
    position: absolute;
}
footer{
    padding-top: 75px;
}
.footers{
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.social-icons{
    padding-top: 48px;
    padding-bottom: 90px;
}
.social-icons>ul{
    display: flex;
    padding: 0;
}
.social-icons>ul>li>a{
    font-family: 'Poppins' sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: rgba(153, 153, 153, 1);
}
.footer-bottom{
    display: flex;
    margin-bottom: 30px;
}
.footer-title{
    display: flex;
    flex-direction: column;
    color: rgba(153, 153, 153, 1);
}
.footer-title-menu>ul{
    display: flex;
    padding: 0px;
}

.footer-c-title{
    margin-top: 7px;
}

.footer-logo{
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.footer-title-title>p{
    margin: 0;
    font-size: 12px;
}
.footer-title-menu>ul>li:first-child{
    padding-left: 0;
}
.footer-title-menu>ul>li{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    border-right: 1px solid grey;
    padding-right: 20px;
}
.footer-title-menu>ul>li:last-child{
    border-right: none;
}

.social-icons .fb:hover{
    color: blue;
}

.social-icons .tw:hover{
    color: #1DA1F2;
 }
 .social-icons .in:hover{
    color:#0077b5;
 }